## Pydantic Basics

In [2]:
from pydantic import BaseModel

In [3]:
class Person(BaseModel):
    name:str
    age:int
    city:str

In [4]:
person = Person(name='Husen',age=23,city='Mudgal')
print(person)
type(person)

name='Husen' age=23 city='Mudgal'

__main__.Person

## USing DataClass

Using data classes data validation are not happen in Using DataClass

Instead of String datatype we can give Integer Valuesm

In [5]:
from dataclasses import dataclass

@dataclass
class Person1:
    name:str
    age:int
    city:str
    
person = Person1(name='Husen',age=23,city=12)
print(person)
type(person)

Person1(name='Husen', age=23, city=12)

__main__.Person1

## Model with Optional Fields

In [3]:
from typing import Optional
from pydantic import BaseModel

class Student(BaseModel):
    name:str
    usn:int
    dept : Optional[str]='MBA'

## With OPtonal Values

In [4]:
s1 = Student(name='Basha',usn=123)
print(s1)
type(s1)

name='Basha' usn=123 dept='MBA'

__main__.Student

## With Optional Values

In [8]:
s2 = Student(name='Husen',usn=786,dept='M.Com')
print(s2)

name='Husen' usn=786 dept='M.Com'

# Using List

In [9]:
class Employee(BaseModel):
    name:str
    ssn:int
    deptno:list[int]

In [10]:
e1 = Employee(name='Husen',ssn=785,deptno=[45,52,45,25,78])
print(e1)

name='Husen' ssn=785 deptno=[45, 52, 45, 25, 78]

# Model with Nested Values

In [11]:
class Shamid(BaseModel):
    name:str
    age:int
    
class Husen(BaseModel):
    hname:str
    shamid : Shamid

In [13]:
husen = Husen(
    hname='Basha Sufi',
    shamid=Shamid(name='Husen', age=45)
)
print(husen)

hname='Basha Sufi' shamid=Shamid(name='Husen', age=45)